.examination {
  padding: 110px 8% 100px;
  background: #fffbea;
}

.heading {
  text-align: center;
  margin-bottom: 60px;
}

.heading p {
  margin-bottom: 12px;

  font-size: 12px;
  font-weight: 700;
  letter-spacing: 3px;

  color: #8b5e3c;
}

.heading h2 {
  font-size: 50px;
  color: #3b2a22;
}

.heading h2 span {
  color: #8b5e3c;
}

.line {
  width: 55px;
  height: 3px;

  margin: 18px auto 0;

  background: #8b5e3c;
  border-radius: 10px;
}

.educationList {
  max-width: 900px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.educationCard {
  display: grid;
  grid-template-columns: 100px 1fr 90px;
  align-items: center;
  gap: 25px;

  padding: 25px 30px;

  background: #fffdf8;
  border: 1px solid #e4d8cc;
  border-radius: 16px;

  box-shadow: 0 10px 30px rgba(59, 42, 34, 0.06);

  transition: 0.3s ease;
}

.educationCard:hover {
  transform: translateY(-5px);

  box-shadow: 0 16px 35px rgba(59, 42, 34, 0.12);

  border-color: #d8c1aa;
}

.year {
  font-size: 15px;
  font-weight: 700;
  color: #8b5e3c;
}

.details h3 {
  margin-bottom: 7px;

  font-size: 19px;
  font-weight: 600;

  color: #3b2a22;
}

.details p {
  margin-bottom: 5px;

  font-size: 14px;
  color: #6f6259;
}

.details span {
  font-size: 13px;
  color: #9a8879;
}

.level {
  justify-self: end;

  padding: 7px 12px;

  border-radius: 20px;

  background: #d8c1aa;
  color: #3b2a22;

  font-size: 12px;
  font-weight: 600;
}

@media (max-width: 700px) {
  .examination {
    padding: 90px 6%;
  }

  .heading h2 {
    font-size: 40px;
  }

  .educationCard {
    grid-template-columns: 1fr;
    gap: 12px;
    padding: 24px;
  }

  .level {
    justify-self: start;
  }
}